snippet css
	<link rel="stylesheet" type="text/css" href="${1}" />
snippet defer
	<script defer>${1}</script>
snippet defer.src
	<script defer src="${1}"></script>
snippet script.src
    <script src="${1}"></script>
