snippet draw
	override void draw(int state, double delta) {
		super.draw(state, delta);
		${1}
	}
snippet init
	override void init() {
		super.init();
		${1}
	}
snippet tick
	override void tick() {
		super.tick();
		${1}
	}
snippet default
	default {
		${1}
	}
snippet states
	states {
		spawn:
			${1}
			loop;
		see:
			loop;
		pain:
			goto spawn;
		death:
			stop;
	}
snippet drawString
	drawString(${1:font}, ${2:string}, ${3:pos})
